*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    line-height: 1.4;
    background-color: rgb(233, 210, 255);
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
nav{
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    background: white;
    padding: 10px;
    z-index: 50;
    background-color:rgb(232, 201, 255);
}

button{
    padding: 10px 15px;
    border: none;
    transition: 0.2s ease-in-out;
}
button:hover{
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}
/* main content */

.hero{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.main-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tag{
    background: rgb(77, 171, 77);
    color: white;
    padding: 5px 10px;
    text-transform: uppercase;
    align-self: flex-start;
}

.main_content ,h1{
    text-transform: capitalize;
    font-size: 70px;
    line-height: 1.2;
    font-weight: 400;
}
.explore{
    background-color: rgb(255, 205, 112);
    align-self: flex-start;
}


.features{
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.feature{
    display: flex;
    gap: 20px;
    padding: 20px;
    transition: 0.2s ease-in-out;
}
.feature:hover{
    transition: 0.2s ease-in-out;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
}
.feature img{
    width: 72px;
}
.divider{
    border: 1px solid grey ;
    margin: 20px 0;
}

/* menu section */

.menu{
    display: flex;
    flex-direction: column ;
    gap: 50px;
    margin: 50px 0;
    align-items: center;
}
.menu .tag{
    align-self: center;
}

.grid{
    display: grid;
    gap: 10px;
    grid-template-areas:  
    "I1 I1 I2 I3"
    "I1 I1 I2 I7"
    "I4 I5 I6 I7";
}

.item1{
    grid-area: I1;
}

.item2{
    grid-area: I2;
}
.item3{
    grid-area: I3;
}
.item4{
    grid-area: I4;
}
.item5{
    grid-area: I5;
}
.item6{
    grid-area: I6;
}
.item7{
    grid-area: I7;
}

.grid-image{
    border-radius: 8px;
}
.grid-image:hover{
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
    width: 100%;
    height: 100%;
}

/* footer section */
footer{
    background-color: rgb(203, 222, 255);
}
.footer-container{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}
.main-link h3{
    margin-bottom: 10px;
    color: grey;
}
.main-link ul{
    list-style: none;
    
}
.main-link ul li{
    font-size: 16px;
    margin-bottom: 5px;
}
.main-link input{
    padding: 5px 40px;
    margin-bottom: 10px;
}
.social-media{
    display: flex;
    gap: 15px;
    font-size: 30px;
}

@media (max-width: 786px){
    .hero{
        flex-direction: column;
    }

    .main-img{
        display: flex;
        justify-content: center;
    }
    .main-img ,img{
        width: 80%;
    }
    .main-content{
        gap: 10px;
        padding: 10px;
    }
    .main-content h1{
        font-size: 32px;
        line-height: 1.2;
    }
    .features{
        flex-direction: column;

    }
    .feature{
        flex-direction: column;
    }
    .grid{
        padding: 20px;
    }
    .grid-image{
        border-radius: 0px;
    }

    .footer-container{
        flex-direction: column;
    }

}